<div class="row">
  <div class="span3">
  	<div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
    </div>
    <div class="media">
      <% if @user.avatar? %>
        <%= image_tag @user.avatar.url %>
      <% end %>
    </div>
  </div>

   <div class="span7">

    <h3> Add a vegetable </h3>
      <%= form_for Vegetable.new, html: { class: "form-inline" } do |form| %>
        <%= form.text_field :name, class: "form-control", placeholder: "name" %>
        <%= form.number_field :count, class: "form-control", placeholder: "count" %>
        <%= form.submit :add, class: "btn btn-default" %>
      <% end %> 

      <% Vegetable.all.each do |vegetable| %>
        <p class="form-control-static"> <%= vegetable.name %> </p>
      <% end %>
 
    <canvas id="vegetables-chart"></canvas>

      <script>
       window.VeggieOut = {};
        VeggieOut.data   = {};
        VeggieOut.data.vegetableData = {
          labels: ["M", "T", "W", "Th", "F"],
          datasets: [
          {
            data: <%= current_user.last_weeks_vegetable_data.to_json %>
          }
          ]
        }
      </script>
 

      <h3> Add a fruit </h3>
      <%= form_for Fruit.new, html: { class: "form-inline" } do |form| %>
        <%= form.text_field :name, class: "form-control", placeholder: "name" %>
        <%= form.number_field :count, class: "form-control", placeholder: "count" %>
        <%= form.submit :add, class: "btn btn-default" %>
      <% end %> 

      <% Fruit.all.each do |fruit| %>
        <p> <%= fruit.name %> </p>
      <% end %>

      <canvas id="fruit-chart"></canvas>

      <script>
       window.VeggieOut = {};
        VeggieOut.data   = {};
        VeggieOut.data.fruitData = {
          labels: ["M", "T", "W", "Th", "F"],
          datasets: [
          {
            data: <%= current_user.last_weeks_fruit_data.to_json %>
          }
          ]
        }
      </script>

      <h3> Add an activity </h3>
      <%= form_for Activity.new, html: { class: "form-inline" } do |form| %>
        <%= form.text_field :name, class: "form-control", placeholder: "name" %>
        <%= form.number_field :count, class: "form-control", placeholder: "number of hours" %>
        <%= form.submit :add, class: "btn btn-default" %>
      <% end %> 

      <% Activity.all.each do |activity| %>
        <p> <%= activity.name %> </p>
      <% end %>

      <canvas id="activity-chart"></canvas>

      <script>
       window.VeggieOut = {};
        VeggieOut.data   = {};
        VeggieOut.data.activityData = {
          labels: ["M", "T", "W", "Th", "F"],
          datasets: [
          {
            data: <%= current_user.last_weeks_activity_data.to_json %>
          }
          ]
        }
      </script>


      <h3> Add a form of relaxation </h3>
      <%= form_for Relaxation.new, html: { class: "form-inline" } do |form| %>
        <%= form.text_field :name, class: "form-control", placeholder: "form of relaxation" %>
        <%= form.number_field :count, class: "form-control 110px x 30px", placeholder: "number of hours" %>
        <%= form.submit :add, class: "btn btn-default" %>
      <% end %> 

      <% Relaxation.all.each do |relaxation| %>
        <p> <%= relaxation.name %> </p>
      <% end %>


      <canvas id="relxation-chart"></canvas>

      <script>
       window.VeggieOut = {};
        VeggieOut.data   = {};
        VeggieOut.data.relaxationData = {
          labels: ["M", "T", "W", "Th", "F"],
          datasets: [
          {
            data: <%= current_user.last_weeks_relaxation_data.to_json %>
          }
          ]
        }
      </script>

       <h3> Add number of hours slept </h3>
      <%= form_for Sleep.new, html: { class: "form-inline" } do |form| %>
        <%= form.text_field :count, class: "form-control", placeholder: "number of hours" %>
        <%= form.submit :add, class: "btn btn-default" %>
      <% end %> 

      <% Sleep.all.each do |sleep| %>
        <p> <%= sleep.name %> </p>
      <% end %>

      <canvas id="sleep-chart"></canvas>

      <script>
       window.VeggieOut = {};
        VeggieOut.data   = {};
        VeggieOut.data.sleepData = {
          labels: ["M", "T", "W", "Th", "F"],
          datasets: [
          {
            data: <%= current_user.last_weeks_sleep_data.to_json %>
          }
          ]
        }
      </script>
  </div>
 </div>
</div>

